<%- include('header') %>

<div class="ui grid">
  <div class="four wide column">
    <a class="avatar avatar-link"
       href="/posts?author=<%= user._id %>"
       data-title="<%= user.name %> | <%= ({m: '男', f: '女', x: '保密'})[user.gender] %>"
       data-content="<%= user.bio %>">
       <img src="/img/<%= user.avatar %>" alt="" class="avatar">
    </a>
  </div>
  <div class="eight wide column">
    <form class="ui form segment" method="post">
      <div class="field required">
        <label for="">标题</label>
        <input type="text" name="title" placeholder="标题">
      </div>
      <div class="filed required mb10">
        <label for="">内容</label>
        <textarea name="content" rows="15"></textarea>
      </div>
      <input type="submit" value="发布" class="ui button">
    </form>
  </div>
</div>

<%- include('footer') %>
