<%- include('header') %>

<div class="ui grid">
  <div class="four wide column">
    <a class="avatar"
      href="/posts?author=<%= user._id %>"
      data-title="<%= user.name %> | <%= ({m: '男', f: '女', x: '保密'})[user.gender] %>"
      data-content="<%= user.bio %>">
      <img class="avatar" src="/img/<%= user.avatar %>">
    </a>
  </div>

  <div class="eight wide column">
    <form method="post" action="/posts/<%= post._id %>/edit" class="ui form segment">
      <div class="field required">
        <label for="">标题</label>
        <input type="text" name="title" value="<%= post.title %>">
      </div>
      <div class="field required mb10">
        <label for="">内容</label>
        <textarea name="content" rows="15"><%= post.content %></textarea>
      </div>
      <input type="submit" value="发布" class="ui button">
    </form>
  </div>

</div>

<%- include('footer') %>
